@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">Cadastro de Medicamentos</h1>
    <p class="display-2">Seja bem vindo!</p>

    <div>
        <img src="/img/medical-team.png"/>
    </div>

</div>
